[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sisco/Desktop/firefly]
row=2
col=0

[/home/sisco/Desktop/firefly.releng.tar.gz]
row=3
col=0

[/home/sisco/Desktop/builds]
row=4
col=0

[Trash]
row=1
col=0

[/home/sisco]
row=0
col=0

